@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    overflow-x: hidden;
  }

  ::selection {
    background-color: rgba(10, 10, 10, 0.15);
    color: #0A0A0A;
  }
}

@layer components {
  .editorial-divider {
    width: 3rem;
    height: 1px;
    background-color: #1E1E1E;
  }

  .editorial-rule {
    width: 100%;
    height: 1px;
    background-color: #D4D4D4;
  }
}
